@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  --bg-card: #E6EEF5;
  --main-color: #334155;
  --hover-color: #4a5e7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, a {
  font-size: 1.6rem;
  color: var(--main-color);
}

/* typograph */
h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
  display: inline;
}

p, span, li {
  font-size: 1.4rem;
}

a {
  font-size: 1.4rem;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: inside;
}

.margin {
  margin-bottom: 1rem;
}

/* page */
.page {
  display: grid;
  place-items: center;
  margin: auto;
  padding: 2rem 4.8rem;
  max-width: 70rem;
}

section {
  margin-block: 1rem;
}

/* cards */
.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-block: 1rem;
  gap: 1.2rem;
}

.card span {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: .4rem .8rem;
  border-radius: .4rem;
  background: var(--bg-card);
}

/* experience */
.training-group {
  margin-block: 1.5rem;
}

.training-group__profession {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.training-group__profession span {
  font-size: 1.2rem;
  color: var(--hover-color);
}

/* education */
#education span {
  font-size: 1.2rem;
  color: var(--hover-color);
}

/* projescts */
#projects p {
  max-width: 30rem;
  text-align: justify;
}

/* button download */
footer {
  margin-top: 6rem;
}
footer a {
  padding: 1rem 1.6rem;
  border-radius: .4rem;
  color: var(--bg-card);
  background-color: var(--main-color);
  transition: background .3s;
}
footer a:hover {
  background: var(--hover-color);
  text-decoration: none;
}

/* Large Screen */
@media (min-width: 700px) {
  #contact {
    text-align: end;
  }

  .data, .training {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
  }
}

@media print {
  body {
    font-size: 1.8rem;
  }

  #contact {
    text-align: end;
  }

  .data, .training {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
  }
}